header {
    background-color: hsl(210, 90%, 30%);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url(Web.png);
    background-size: cover;
    background-position: center;
    border: 7px inset #1C6EA4;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
}

.a {

    width: auto;
    padding: 7px ;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: hsl(210, 90%, 40%);
    border-radius: 5px;
    border: 1px solid rgb(177, 171, 171);
    transition: all 0.8s ease;
    box-shadow: -3px 4px 3px 0px rgba(0,0,0,0.43);
   
 }




 .a:hover {
    background-color: hsl(210, 90%, 30%);
    color: white;
    transform: translateX(5px);
    transform: translateY(-5px);
    transition: transform 0.8s ease;
   
 }

 .a:last-child{
    margin-left: 0;
 }

 .CSS-Transitions h2 {
    color: hsl(210, 90%, 40%);
 }

 .CSS-Transitions {
   padding: 10px;
   border: 1px;
   transition: all 0.8s ease;

   
 }

 .CSS-Transitions:hover {
    background-color: hsl(210, 90%, 30%);
    transform: translateX(+10px);
  
    cursor: pointer;
    color: white;
    transition: transform 0.8s ease;

 }

.CSS-Transitions:hover h2 {
    color: white;
}

.CSS-Variables h2{
    Color: hsl(210, 90%, 40%);
 }

.CSS-Variables {
    padding: 10px;
    border: 1px;
    transition: all 0.8s ease;
}

.CSS-Variables:hover {
    background-color: hsl(210, 90%, 30%);
    transform: translateX(+10px);

    cursor: pointer;
    color: white;
    transition: transform 0.8s ease;
  
}

.CSS-Variables:hover h2 {
    color: white;
}


footer {
    text-align: center;
    font-weight: 100%;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}