header {
    background-color: hsl(210, 90%, 30%);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url(Web.png);
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
}

.nav-button {
    padding: 10px ;
    cursor: pointer;
    transition: background-color 0.3s, transfrom 0.3sn box-shadow 0.3s;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 1rem;
 }

 .nav-button + .nav-button {
    margin-left: 10px;
 }

 tr {
    gap: 20px;
 }

 .nav-button:hover {
    background-color: hsl(210, 90%, 30%);
    color: white;
    transform: translateX(10px);
    transform: translateY(-5px);
 }